/* nerds styles 
.knowBut - маловат размер
*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
p {margin: 0px;}

a {text-decoration: none;}
ul {list-style: none;}
.page {
    height: 100%;
    min-width: 1200px;
}
.toHide {display: none;}

img {
    width: max 100%;
    height: auto;
}

:root {
    --mainBackGround: #FFFFFF;
    --footerBackGround: #EEEEEE;
    --gold: #EFC849;
    --green: #00CA74;
    --calmRed: #FB565A;
    --hoverRed: #E74246;
    --activeRed: #D7373B;
    --calmGreen: #00CA74;
    --hoverGreen:#00BC6C;
    --activeGreen:#00AA62;
    --calmGold:#EFC849;
    --hoverGold:#EAB534;
    --activeGold:#E5A722;
    --black: #000000;
    --textGrey: #283136;
    --textGreyLess: #666666;

}
.page-body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--textGrey);
    background-color: var(--mainBackGround);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  

  .navi {background-color: transparent;}

  .site-navi li {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    /* text-align: right; */

  }
  .site-navi a {color: var(--black);}
  .site-navi a:hover {color: var(--calmRed);}
  .site-navi a:focus {color: var(--black); opacity: 0.3;}

  .slogan {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
  }

  .but {
      font: inherit;
      color: var(--mainBackGround);
      height: 50px;
      width: 160px;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
      border: none;
  }

  .knowBut {
      background-color: var(--calmRed);
      height: 50px;
      width: 240px;
  }
  .knowBut:hover {background-color: var(--hoverRed);}
  .knowBut:active {background-color: var(--activeRed);}

  .gall-head {
    text-transform: uppercase;
    color: var(--black);
    font-size: 24px;
    line-height: 30px;
  }

  .redBut {background-color: var(--calmRed);}
  .greenBut {background-color: var(--calmGreen);}
  .goldBut {background-color: var(--calmGold);}

  .redBut:hover {background-color: var(--hoverRed);}
  .redBut:active {background-color: var(--activeRed);}
  .greenBut:hover {background-color: var(--hoverGreen);}
  .greenBut:active {background-color: var(--activeGreen);}
  .goldBut:hover {background-color: var(--hoverGold);}
  .goldBut:active {background-color: var(--activeGold);}

  .princips-header {
      font-size: 45px;
      line-height: 45px;
      color: var(--black);
  }

  .whatWeCanDo-header .loveExect-header {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 24px;
  }

  
  .percents {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    /* margin-bottom: 11px; */
  }

.fullName-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
}

.address {
    line-height: 18px;
    color: var(--textGreyLess);
}

.address a {color: var(--textGreyLess);}

.writeMeButt {
    height: 50px;
    width: 219px;
    border-radius: 3px;
    background-color: var(--calmRed);
    color: var(--mainBackGround);
}

.fotHeader {
    size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.disconts-10 {line-height: 22px;}

/* Catalog */
.shopMainHeader {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.form-heads {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.checkBoxFeatureSet input[type="checkbox"], 
.checkBoxGridSet input[type="radio"] {
    line-height: 20;
}

.labels {line-height: 22px;}

.price {
    width: 80px;
    height: 38px;
    background-color: var(--footerBackGround);
    text-align: center;
    line-height: 22px;
}

.priceMeter {
    width: 260px;
    height: 80px;
    background-color: var(--footerBackGround);
}

.showBut {
    line-height: 18px;
    background-color: var(--footerBackGround);
    color: var(--black);
    width: 260;
    height: 50;
    text-align: center;
}

.sortIt-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}

.whatToSort {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 30%;
    border: none;
    background: none;
}

.wtsBold {opacity: 100%;}

.projName {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.projDescr {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.projBut {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: var(--calmRed);
    color: var(--mainBackGround);
    text-align: center;
    font-weight: 500;
}

.shablNavi {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 3px;
    background-color: var(--footerBackGround);
    color: var(--mainBackGround);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.nextNavi {width: 260px;}

/* header */
.index-header {
    background-color: var(--footerBackGround);
    width: 1440px;
    height: 545px;
    margin-bottom: 80px;
}

.breadCrumbs{
    width: 1160px;
    height: 66px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 49px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.site-navi {
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.basketBlock {
    margin-top: 26px;
    margin-left: auto;
    margin-right: 60px;
    color: var(--black);
}
.basketBlock:hover{color: var(--calmRed);}
.basketBlock:active{color: var(--black); opacity: 0.3;}

.bottomPartHeader{
    margin-left: 140px;
    margin-right: 143px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 80px;
}

.slideShowBlock {
    width: 760px;
    height: 431px;
    margin-right: 143px;
    margin-left: auto;
}

.slideImg {
    
    margin-left: auto;
    margin-right: 0px;
    background-color: transparent;
}

/* не работает */
.slideImg, .button1, .button2, .button3 {
    position: relative;
}

/* не работает */
.button1 {
    top: -50px;
    left: 30px;
}

/* gallery */

.galleryBlock{
    width: 1100px;
    height: 347px;
    margin-left: 140px;
    margin-right: 200px;
    margin-bottom: 121px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    padding: 0px;
}

/* princips  */

.principBlock {
    width: 1174px;
    height: 413px;
    margin-left: 140px;
    margin-right: 126px;
    margin-bottom: 73px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.products {
    padding: 0px;
    /* list-style-image: url(../img/redDushForList.png); */
    vertical-align: center;
}

.products li {
    margin-top: 10px;
}

.products li:before {
    color: red;
    content: "-";  
    padding-right: 10px; 
    font-weight: bold;
   }

.advantages {
    display: grid;
    grid-template-rows: 208px 24px 64px;
}

.bigLogoBalls{
    margin-bottom: 37px;
}

.loveExect-header{
    margin: 37px auto 31px;
}

.advantList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px auto;
    gap: 10px;
    padding: 0px;
}

.portfolio-block {
    width: 1159px;
    height: 184px;
    margin-left: 140px;
    margin-bottom: 80px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 2px solid var(--footerBackGround);
    border-bottom: 2px solid var(--footerBackGround);
}

.portfolio-block li {margin: auto 0px;}

.bigMapBlock {
    height: 416px; 
    width: 1440px;
    margin-bottom: 68px;
}

.footerBlock {
    height: 81px; 
    width: 1060px;
    margin-left: 140px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.promo {
    margin: auto;
}

.contactsBlock {
    width: 319px;
    height: 308px;
    padding-left: 50px;
    padding-top: 49px;
    background-color: var(--mainBackGround);
    display: inline-block;
    outline: 1px solid yellowgreen;
}

.writeMeButt {margin-top: 37px;
    
}