/* nerds styles 

*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
p {margin: 0px; padding: 0px;}
a {text-decoration: none;}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px    
}
li, input, label, fieldset {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px ;
    }

.toHide {display: none;}

:root {
    --mainBackGround: #FFFFFF;
    --footerBackGround: #EEEEEE;
    --gold: #EFC849;
    --calmRed: #FB565A;
    --hoverRed: #E74246;
    --activeRed: #D7373B;
    --calmGreen: #00CA74;
    --hoverGreen:#00BC6C;
    --activeGreen:#00AA62;
    --calmGold:#EFC849;
    --hoverGold:#EAB534;
    --activeGold:#E5A722;
    --black: #000000;
    --textGrey: #283136;
    --textGreyMid: #444444;
    --bkgrGrey: #4D4D4D;
    --textGreyLess: #666666;
    --border: #DBDBDB;
}

.page-body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--textGrey);
    background-color: var(--mainBackGround);
    min-height: 100%;
    min-width: 1200px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  
  /* ХЕДЕР */
  .header {
      width: 1440px;
      background-color: var(--footerBackGround);
      padding-top: 49px;
  }

  .header_center {
      width: 1160px;
      margin: 0 auto;
      margin-bottom: 2.84px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      outline: 1px solid yellowgreen;
  }

  .logo_top_left {
      width: 160px;
      height: 65px;
  }

  .site-navi {
      display: flex;
      justify-content: space-between;
      outline: 1px solid yellowgreen;
  }

  .site-navi li {
      margin-right: 45px;
  }

  .site-navi li a {
    color: var(--black);
    line-height: 30px;
    font-weight: 500;
  }

  .basket {
    color: var(--black);
    line-height: 30px;
    font-weight: 500;
  }

  /* под хедером */
  .bottomHeader {
    width: 1440px;
    background-color: var(--footerBackGround);
  }

  .bottomHeaderCenter {
    width: 1160px;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    outline: 1px solid red;
  }

  .sloganBlock {
      display: flex;
      flex-direction: column;
      outline: 1px solid yellowgreen;
      padding-top: 78px;
  }

  .sloganBlock p {
      margin-bottom: 38px;
  }

  .slogan {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
    margin-top: 0px;
  }

  .knowBut {
    width: 240px;
    height: 50px;
    background-color: var(--calmRed); 
    border-radius: 3px;
    
  }

  .knowBut span {
    display: inline-block;
    text-transform: uppercase;
    color: var(--mainBackGround);
    line-height: 18px;
    font-weight: 500;
    margin: 17px 54px 15px 54px;
  }

  .slideShowBlock {
    width: 760px;
    height: 431px;
    background-image: url(../img/PNG_Slide_show_Flying_phones.png);
    background-repeat: no-repeat;
    outline: 1px solid yellowgreen;
  }
  
  .slideShowBlock div {
    width: 88px;
    height: 18px;
    outline: 1px solid yellowgreen;
    margin-top: 317px;
    margin-left: 139px;
  }

/* Галлерея */
.main {
    width: 1440px;
}

.gallery-center {
    width: 1160px;
    height: 347px;
    margin: 0 auto;
    margin-bottom: 121px;
    outline: 1px solid red;
}

.galleryBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.galleryBlock li {
    outline: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
}

.galleryBlock li img {margin-bottom: 25px;}
.galleryBlock li p {margin-bottom: 32px;}

.gall-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 0px;
}

.But {
    width: 160px;
    height: 50px;
    border-radius: 3px;
}

.But span {
    font-weight: 500;
    line-height: 18px;
    color: var(--mainBackGround);
    text-transform: uppercase;
    display: inline-block;
    margin: 17px 40px 15px 39px;
}

.red {background-color: var(--calmRed);}
.green {background-color: var(--calmGreen);}
.gold {background-color: var(--calmGold);}

/* ПРИНЦИПЫ */

.principBlock-center {
    width: 1160px;
    height: 413px;
    margin: 0 auto;
    outline: 1px solid red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 42px;
    margin-bottom: 73px;
}

.principBlock-center section {
    outline: 1px solid yellowgreen;
    height: 413px;
}

.principBlock-center section p {
    line-height: 24px;
    margin-bottom: 40px;
}

.princips-header {
    margin-top: 34px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--black);
}

.whatWeCanDo-header {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
    
}

.products {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products li:before {
    color: red;
    content: "-";  
    padding-right: 10px; 
    font-weight: bold;
   }

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages img {
    height: 208px; 
    width: 360px;
    margin-bottom: 37px;
}
.advantages h4 {
    margin-top: 0px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.advantages ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* justify-content: space-around; */
}

.percents {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
  }

.perform-metrics {
    line-height: 18px;
}

/* Portfolio */

.portfolio-block {
    width: 1160px;
    height: 184px;
    margin: 0 auto;
    outline: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

/* big map block */

.bigMapBlock {
    height: 416px; 
    width: 1440px;
    margin-bottom: 68px;
    padding-top: 54px;
    padding-left: 140px;
    background-image: url(../img/Big_map_with_commaLogo.jpg);
    background-repeat: no-repeat;
}

.contactsBlock {
    width: 319px;
    height: 308px;
    background-color: var(--mainBackGround);
    display: flex;
    flex-direction: column;
}

.contactsBlock h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    margin-top: 49px;
    margin-left: 50px;
    margin-bottom: 22.7px;
}

.contactsBlock div {
    line-height: 18px;
    color: var(--textGreyLess);
    width: 230px;
    height: 72px;
    outline: 1px solid yellowgreen;
    margin-left: 50px;
    margin-bottom: 37.29px;
}

.telephone {
    color: var(--textGreyLess);
    
}

.writeMeButt {
    height: 50px;
    width: 219px;
    border-radius: 3px;
    background-color: var(--calmRed);
    color: var(--mainBackGround);
    margin-left: 50px;
}

.writeMeButt span {
    font-weight: 500;
    line-height: 18px;
    color: var(--mainBackGround);
    text-transform: uppercase;
    display: inline-block;
    margin: 17px 44px 15px 44px;
}

/* FOOTER */

.footerBlock {
    height: 81px; 
    width: 1060px;
    margin-left: 140px;
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    outline: 1px solid yellowgreen;
}

.promo {
    width: 660px;
    margin-left: 139px;
    margin-right: auto;
    outline: 1px solid yellowgreen;
}
.promo h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color:  var(--black);
}

.promo p {
    line-height: 22px;
    color: var(--textGreyMid);
}

/* страница КАТАЛОГ */

.catal_bot_head {
    width: 1440px;
    height: 241px;
    background-color: var(--footerBackGround);
    margin-bottom: 55px;
}

.catal_bot_head h1 {
    display: inline-block;
    margin-top: 78px;
    margin-left: 357px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--black);
}

.main-center {
    outline: 1px solid red;
    width: 1160px;
    margin-left: 140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 55px;
}

/* форма */
.main-center form {
    width: 260px;
    outline: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 48px;
}

.meterBlock {
    height: 80px;
    width: 260px;
    border-radius: 3px;
    background-color: var(--footerBackGround);
    margin-bottom: 14px;
}

.priceMeter {
    width: 205px;
    height: 2px;
    margin: 39px 22px 39px 33px;
}

.from input, .till input {
    width: 80px;
    height: 38px;
    border: none;
    background-color: var(--footerBackGround);
    border-radius: 3px;
    margin-bottom: 54px;
}

.from span, .till span {
    line-height: 22px;
    text-transform: uppercase;
    color: var(--textGrey);
    margin-right: 11px;
}

.till span {margin-left: 30px;}

.form-heads {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.net {
    border: none;
    margin-bottom: 47px;
}

.net ul li, .features-field ul li {
    margin-bottom: 20px;
}

.features-field {
    border: none;
    margin-bottom: 50px;
}

.showBut {
    height: 50px;
    background-color: var(--footerBackGround);
}

.showBut span {
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
}

/* Проекты */
.proj_blocks {
    outline: 1px solid yellowgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sortIt-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.upSedonaBar {
    width: 360px;
    height: 40px;
    background-color: var(--bkgrGrey);
}

/* SEDONA */
.sedona {
    background-image: url(../img/Sedona_screenshot.jpg);
    background-repeat: no-repeat;
    width: 359px;
    height: 578px;
    outline: 1px solid yellowgreen;
    padding-top: 349px;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.sedona_info {
    /* margin-top: 349px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 200px;
    background-color: var(--footerBackGround);
    padding-top: 26px;
}

.sedona_info h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 12px; 
}

.projButt {
    width:200px;
    height: 50px;
    margin-top: 32px;
    background-color: var(--calmRed);
    border-radius: 3px;
}

.projButt span {
    display: inline-block;
    color: var(--mainBackGround);
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    margin: 17px 72px 15px 72px;
}

/* PINK */

.pink-block ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.onPrice span {
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    
}

.onTipe span {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
}

.upPinkBar {
    width: 360px;
    height: 40px;
    background-color: var(--bkgrGrey);
    opacity: 0.12;
}

.pink {
    background-image: url(../img/Pink_screenshot.jpg);
    background-repeat: no-repeat;
    width: 358px;
    height: 578px;
    padding-top: 348px;
    outline: 1px solid yellowgreen;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.pink_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 200px;
    background-color: var(--footerBackGround);
    padding-top: 26px;
}

.pink_info h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 12px; 
}

.borodino-block { margin-bottom: 31px;}
.handMade-block {margin-bottom: 31px;}

.school-block {height: 578px;}

.kraft-block {height: 617px;}

.kvas {
    height: 578px;
    background-image: url(../img/Kraft_screenshot.jpg);
    background-repeat: no-repeat;
    width: 359px;
    height: 578px;
    padding-top: 348px;
    outline: 1px solid yellowgreen;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.page-navi-block {
    display: flex; 
    margin-left: 540px;
}

.page-navi-block a {
    width: 50px;
    height: 50px;
    background-color: var(--footerBackGround);
    border-radius: 3px;
    margin-right: 11px;
    margin-bottom: 60px;
}

.page-navi-block a:first-child {
    background-color: var(--mainBackGround);
    border: 3px solid var(--border);
} 

.page-navi-block a:last-child {
    width: 260px;
}

.page-navi-block a span {
    display: inline-block;
    margin: 17px 20px 15px 20px;
}

.page-navi-block a:last-child span {
    margin: 17px 77px 15px 78px;
}
