/* nerds styles */ 

.to_hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

:root {
    --mainBackGround: #FFFFFF;
    --footerBackGround: #EEEEEE;
    --gold: #EFC849;
    --calmRed: #FB565A;
    --hoverRed: #E74246;
    --activeRed: #D7373B;
    --calmGreen: #00CA74;
    --hoverGreen:#00BC6C;
    --activeGreen:#00AA62;
    --calmGold:#EFC849;
    --hoverGold:#EAB534;
    --activeGold:#E5A722;
    --black: #000000;
    --textGrey: #283136;
    --textGreyMid: #444444;
    --bkgrGrey: #4D4D4D;
    --textGreyLess: #666666;
    --basketGrey: #A6A6A6;
    --border: #DBDBDB;
    --buttBckGr: #DFDFDF;
    --buttActive: #d5d5d5;
    --borderGrey: #888888;
    --togglPoint: #ABABAB;
    --prLine: #d7dcdf;
    --mBorder: #D7DCDE;
    --mBorderHover: #B4B9BB;
    --m_text: #444444;
    --prLineGreen: #00CA74;
    --radButtInner: #c1c1c1;
    --down_arr: #231F20;
    --info_text: #666666;
}

.page_body {
    padding: 0px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--textGrey);
    background-color: var(--mainBackGround);
    min-height: 100%;
    min-width: 1200px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  
  /* ХЕДЕР */
  .header {
      background-color: var(--footerBackGround);
      padding-top: 49px;
  }

  .header_center {
      width: 1170px;
      margin: 0 auto;
      margin-bottom: 2.84px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
  }

  .logo_top_left {
    padding-left: 5px;
  }
  .logo_top_left:hover {
      opacity: 0.7;
  }

  .logo_top_left:active {
    opacity: 0.3;
  }

  .site_navi {
      min-width: 440px;
      padding-left: 200px;
      padding-top: 12px;
      display: flex;
      /* justify-content: space-between; */
      flex-wrap: wrap;
  }

  .site_navi li {
      margin-right: 46px;
      padding: 0px; 
  }

  .site_navi li:last-child {
    margin-right: 0px;
  }
  .site_navi_li a {
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  .site_navi_li a:hover {color: var(--calmRed);}
  .site_navi_li a:active {
    color: var(--black); 
    opacity: 30;
  }

  .basket {
    position: relative;;
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 288px;
    box-sizing: border-box;
  }

  .basket::before {
      position: absolute;
      content: "";
      top: 15px;
      width: 15px;
      height: 15px;
      margin-left: -40px;
      background-image: url(../img/basket_svg.svg);
      background-repeat: no-repeat;
  }
  
  .basket:hover {color: var(--calmRed);}
  .basket:active {
      color: var(--black); 
      opacity: 30;
  }
  
  .bottom_header {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    background-color: var(--footerBackGround);
  }

  .bottom_header_сenter {
    width: 1160px;
    margin: 0 auto;
  }
  .slider {
    width: 1160px;
    min-height: 431px;
  }

  .slides {
      position: relative;
  }
  .radio_but_block {
      position: absolute;
      left: 535px;
      top: 308px;
  }

  .sld_but {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    margin-right: 12px;
  }

  .slide {
    display: flex;
  }

  .slide_show {
    width: 760px;
    min-height: 431px;
    background-repeat: no-repeat;
  }

  .show1 {
    background-image: url(../img/png_slide_show_flying_phones_a.png);
  }

  .show2 {
    background-image: url(../img/png_slide_2.png);
  }
  
  .show3 {background-image: url(../img/png_slide_3.png);}

  /* .slide1 {display: none;} */
  .slide2 {display: none;}
  .slide3 {display: none;}

  .slogan_block {
      width: 400px;
      display: flex;
      flex-direction: column;
      padding-top: 70px;
  }

  .slogan_block p {
      margin-bottom: 38px;
      padding-left: 2px;
      padding-top: 2px;
      white-space: nowrap;
      box-sizing: border-box;
  }

  .slogan {
    color: var(--black);
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
    margin-top: 0px;
    white-space: nowrap;
  }

  .know_but {
    width: 240px;
    min-height: 50px;
    background-color: var(--calmRed); 
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--mainBackGround);
    line-height: 18px;
    font-weight: 500;
    padding: 17px 54px 15px;
    box-sizing: border-box;
  }

  .know_but:hover {background-color: var(--hoverRed);}
  .know_but:active {
      background-color: var(--activeRed);
      opacity: 0.3;
    }

/* Галлерея */
.main {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.gallery_center {
    width: 1160px;
    min-height: 347px;
    padding-top: 80px;
    padding-right: 60px;
    margin: 0 auto;
    /* margin-bottom: 121px; */
    box-sizing: border-box;
}

.gallery_block {
    width: 1100px;
    min-height: 347px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery_block li {
    display: flex;
    flex-direction: column;
}

.gallery_block_li img {margin-bottom: 25px;}
.gallery_block_li p {margin-bottom: 32px;}

.gall_head {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 0px;
    color: var(--black);
}

.but {
    width: 160px;
    min-height: 50px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 18px;
    color: var(--mainBackGround);
    text-transform: uppercase;
    padding: 17px 40px 15px 39px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.red {background-color: var(--calmRed);}
.green {background-color: var(--calmGreen);}
.gold {background-color: var(--calmGold);}

.red:hover {background-color: var(--hoverRed);}
.green:hover {background-color: var(--hoverGreen);}
.gold:hover {background-color: var(--hoverGold);}

.red:active {background-color: var(--activeRed);}
.green:active {background-color: var(--activeGreen);}
.gold:active {background-color: var(--activeGold);}

.red span:active, .green span:active, .gold span:active {
    opacity: 0.3;
}

.just_line {
  width: 1158px;
  height: 2px;
  background-color: var(--footerBackGround);
  margin-bottom: 39px;
}

/* ПРИНЦИПЫ */

.princip_block_center {
    width: 1160px;
    height: 413px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 42px;
    margin-bottom: 73px;
}

.princip_block_center section {
    height: 413px;
}

.princip_block_center_section p {
    line-height: 24px;
    margin-bottom: 40px;
}

.princips_header {
    margin-top: 34px;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--black);
}

.what_we_can_do_header {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
    
}

.products {
    min-height: 120px;
}

.products li {
  position: relative;
  margin-left: 35px;
  margin-bottom: 26px;
}

.products li:before {
    position: absolute;
    content: ""; 
    top: 10px; 
    width: 25px;
    height: 2px;
    margin-left: -34px;
    background-color: var(--calmRed);
   }

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages img {
    height: 208px; 
    width: 360px;
    margin-bottom: 37px;
    margin-left: 22px;
}
.advantages h4 {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 31px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hiperbola_metrics li {
  margin-left: 9px;
}

.percents {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--black);
    margin-bottom: 7px;
  }

.perform-metrics {
    line-height: 18px;
}

/* Portfolio */

.portfolio_block {
    width: 1160px;
    min-height: 184px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    border-top: 2px solid var(--footerBackGround);
    border-bottom: 2px solid var(--footerBackGround);
}

.html_acad_logo_li{
  padding-left: 30px;
} 

.borod_logo_li {
  padding-left: 85px;
}

.pink_logo_li {
  padding-left: 90px;
}

.mish_logo_li {
  padding-left: 110px;
}

.html_acad_logo, .borod_logo, .pink_logo, .mish_logo {opacity: 0.2;}

.html_acad_logo:hover, .borod_logo:hover, .pink_logo:hover, .mish_logo:hover {opacity: 1;}

.html_acad_logo:active, .borod_logo:active, .pink_logo:active, .mish_logo:active {opacity: 0.1;}

.verty_stick {
    display: block;
    content: "";  
    top: 10px;
    left: 20px;
    width: 2px;
    height: 52px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: var(--footerBackGround);
}


/* FOOTER */
/* big map block */

.footer_block {
    height: 633px; 
}

.big_map_block {
    height: 416px; 
    background-image: url(../img/big_map_a.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}

.map_center {
    width: 1160px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 270px

}

.white_comma_logo {
    margin-top: 70px;
    width: 231;
    height: 190px;
}

.contacts_block {
    width: 319px;
    background-color: var(--mainBackGround);
    display: flex;
    flex-direction: column;
    margin-top: 53px;
}

.contacts_block h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    margin-top: 49px;
    margin-left: 50px;
    margin-bottom: 22.7px;
}

.contacts_block div {
    line-height: 18px;
    color: var(--textGreyLess);
    width: 230px;
    height: 72px;
    margin-left: 50px;
    margin-bottom: 37.29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.telephone {
    color: var(--textGreyLess);
    
}

.write_me_butt {
    width: 219px;
    min-height: 50px;
    border-radius: 3px;
    background-color: var(--calmRed);
    color: var(--mainBackGround);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 47px;
    font-weight: 500;
    line-height: 18px;
    color: var(--mainBackGround);
    text-transform: uppercase;
    padding: 17px 44px 15px;
    box-sizing: border-box;
}

.write_me_butt:hover {background-color: var(--hoverRed);}
.write_me_butt:active {
  background-color: var(--activeRed);
  opacity: 0.3;
}

.icon_center {
    width: 1160px;
    margin: 68px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.icons_block {
    width: 261px;
    display: flex;
    justify-content: space-between;
}

.icons_block a {width: 81px; height: 81px;}

.vk_icon {
    display: block;
    background-image: url(../img/vk_icon_full.png);
}

.vk_icon:hover {background-image: url(../img/vk_icon_hover.png);}
.vk_icon:active {background-image: url(../img/vk_icon_active.png);}

.fb_icon {
    display: block;
    background-image: url(../img/fb_icon_full.png);
}

.fb_icon:hover {background-image: url(../img/fb_icon_hover.png);}
.fb_icon:active {background-image: url(../img/fb_icon_active.png);}

.insta_icon {
    display: block;
    background-image: url(../img/instagram_icon_full.png);
}

.insta_icon:hover {background-image: url(../img/instagram_icon_hover.png);}
.insta_icon:active {background-image: url(../img/instagram_icon_active.png);}

.promo {
    width: 660px;
    margin-left: 105px;
    margin-right: auto;
    padding-top: 6px;
}
.promo h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color:  var(--black);
}

.promo p {
    line-height: 22px;
    color: var(--textGreyMid);
}

/* страница КАТАЛОГ ********************************/

.site_navi .catal_breadcrumbs {
  position: relative;
}

.shop::before {
  position: absolute;
  top: 120px;
  content: "";
  width: 73px;
  height: 2px;
  background-color: var(--calmRed);
}

.catal_bot_head {
    min-height: 231px;
    background-color: var(--footerBackGround);
    padding-top: 70px;
    box-sizing: border-box;
    display: grid; /* странное место */
}

.catal_bot_head h1 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--black);
}

.main_center {
    width: 1160px;
    margin: 56px auto 22px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* форма */
form {
    width: 260px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 48px;
}

.meter_block {
  position: relative;
    height: 80px;
    width: 260px;
    border-radius: 3px;
    background-color: var(--footerBackGround);
    margin-bottom: 14px;
}

.toggler {
  position: absolute;
  top: 0px;
  width: 2px;
  height: 2px;
  border: 8px solid var(--mainBackGround);
  border-radius: 50%;
  background-color: var(--togglPoint); 
  cursor: pointer;
}

.tog_left {
  top: 31px;
  left: 22px;
}

.tog_right {
  top: 31px;
  left: 160px;
}

.progress_line {
  width: 205px;
  height: 2px;
  background-color: var(--prLine);
  margin: 39px 22px 39px 33px;
}

.green_progr_line {
  width: 138px;
  height: 2px;
  background-color: var(--prLineGreen);
}

.priceMeter {
    width: 205px;
    height: 2px;
    margin: 39px 22px 39px 33px;
}

.from_till_block {
  margin-bottom: 54px;
  display: flex;
  justify-content: flex-start;
}

.from input, .till input {
    width: 80px;
    min-height: 38px;
    border: none;
    background-color: var(--footerBackGround);
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.from input {
  margin-left: 7px;
}

.till input {
  margin-left: 7px;
}

.from, .till {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--textGrey);
}

.till {
  margin-left: 34px;
}

.form_heads {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--black);
}

.net {
  border: none;
  margin-bottom: 27px;
}

.net_ul li {
  margin-bottom: 16px;
}

.features_field_ul li {
  margin-bottom: 16.5px;
}

.features_field {
    border: none;
    margin-bottom: 33px;
}

.featOpti, .net_opti {padding-left: 39px;}

.featOpti label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.inpchkbx + label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: -37px;
    top: 0;
    background-image: url(../img/bar.svg);
}

.inpchkbx:hover + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -37px;
  top: 0;
  background-image: url(../img/bar_hover.svg);
}

.inpchkbx:checked + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 23px;
    left: -37px;
    top: 0px;
    border: none;
    background-image: url(../img/checked_bar.svg);
    background-repeat: no-repeat;
}

.inpchkbx:checked:hover + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  left: -36px;
  top: 0px;
  border: none;
  background-image: url(../img/checked_bar_hover.svg);
  background-repeat: no-repeat;
}

.net_opti label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.inp_radio + label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -38px;
    top: 0;
    background-image: url(../img/circle.svg);
    background-repeat: no-repeat;
}

.inp_radio:hover + label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -38px;
    top: 0;
    background-image: url(../img/circle_hover.svg);
    background-repeat: no-repeat;
}

.inp_radio:checked + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -38px;
    top: 0px;
    border: none;
    background-image: url(../img/circle_checked.svg);
    background-repeat: no-repeat;
}

.inp_radio:checked:hover + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: 0px;
  border: none;
  background-image: url(../img/circle_checked_hover.svg);
  background-repeat: no-repeat;
}

.show_but {
    min-height: 50px;
    width: 260;
    background-color: var(--footerBackGround);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
    padding: 17px 89px 15px 88px;
    box-sizing: border-box;
}

.show_but:hover {
  background-color: var(--buttBckGr);
}

.show_but:active {
  background-color: var(--buttActive);
  opacity: 0.3;
  box-shadow: 0px 5px var(--buttActive) inset;
}


/* Проекты **************************/

.proj_blocks {
  display: flex;
  flex-wrap: wrap;
}

.sort_it_header {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: var(--black);
}

.sort_it_criteria {
    width: 360px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 45px;
    margin-left: 264px;
}

.down_tri {
    width: 11px;
    height: 10px;
    margin-top: 8px;
    background-image: url(../img/down_active.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
  }

.on_tipe_li {
  padding-left: 15px;
}

.down_triange_li {
  padding-left: 35px;
}

.down_tri:hover {background-image: url(../img/down_hover.svg);}

.down_tri:active {background-image: url(../img/down_active.svg);}

.up_tri {
  width: 11px;
  height: 10px;
  margin-top: 8px;
  background-image: url(../img/up_calm.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
}
  
.up_tri:hover {background-image: url(../img/up_hover.svg);}

.up_tri:active {background-image: url(../img/up_active.svg);}
  .on_price {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: var(--black);
  }
  
  .on_price:hover {opacity: 0.6;}
  .on_tipe:hover {opacity: 0.6;}
  .on_price:active {opacity: 1;}
  .on_tipe:active {opacity: 1;}
  
  .on_tipe {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      opacity: 0.3;
      color: var(--black);
  }

/* Projects */
.proj_blocks {
  padding-left: 15px;
}

.prog_block {
    min-height: 618px;
    width: 360px;
    margin-bottom: 32px;
}

.prog_block:nth-child(even) {
  margin-right: 38px;
}

.info h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 12px; 
    margin-top: 26px;
}

.sedona_info, .pink_info, .barber_info, .handmade_info, .school_info, .kvas_info {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 231px;
    background-color: var(--footerBackGround);
    display: none;
}

.sedona_info p, .pink_info p, .barber_info p, .kvas_info p, .handmade_info p, .school_info p {
    text-align: center;
    color: var(--info_text);
} 

.sedona:hover::before, .pink:hover::before, .borodino:hover::before, .handmade:hover::before, .school:hover::before, .kvas:hover::before {
    background-image: url(../img/block_hover.png);
}

.proj_butt {
    width: 200px;
    min-height: 50px;
    margin-top: 32px;
    background-color: var(--calmRed);
    border-radius: 3px;
    color: var(--mainBackGround);
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    padding: 17px 72px 15px;
    box-sizing: border-box;
}

.proj_butt:hover {
  background-color: var(--hoverRed);
}
.proj_butt:active {
  background-color: var(--activeRed);
}

.sedona, .pink, .borodino, .handmade, .school, .kvas {
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.sedona::before, .pink::before, .borodino::before, .handmade::before, .school::before, .kvas::before {
    position: absolute;
    content: "";
    margin-top: -40px;
    width: 360px;
    height: 40px;
    top: 0px;
    background-image: url(../img/block_calm.svg);
}

.sedona:hover .sedona_info, .pink:hover .pink_info, .borodino:hover .barber_info, .handmade:hover .handmade_info, .school:hover .school_info, .kvas:hover .kvas_info {
    display: flex;
}

.page_navi_block_center {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    
}

.page_navi_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 14px;
}

.page_navi_block a {
    width: 50px;
    min-height: 50px;
    background-color: var(--footerBackGround);
    border-radius: 3px;
    margin-right: 11px;
    text-align: center;
    padding: 17px 20px 11px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 18px;
    color: var(--black);
    text-transform: uppercase;
}

.page_navi_block a:hover {
  background-color: var(--buttBckGr);
}

.page_navi_block a:active {
  background-color: var(--buttActive);
  color: var(--black);
  opacity: 0.3;
  box-shadow: 0px 5px var(--buttActive) inset;
}

.page_navi_block a:first-child {
    background-color: var(--mainBackGround);
    border: 3px solid var(--border);
    box-sizing: border-box;
} 

.page_navi_block a:first-child:hover {
  background-color: var(--buttBckGr);
}

.page_navi_block a:first-child:active {
  background-color: var(--buttActive);
  color: var(--black);
  opacity: 0.3;
  box-shadow: 0px 5px var(--buttActive) inset;
}

.page_navi_block a:last-child {
    width: 260px;
}

/* modal popup */
.modal_center {
    position: relative;
    width: 960px;
    min-height: 590px;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 20px;
    padding-top: 63px;
    padding-left: 100px;
    padding-right: 80px;
    padding-bottom: 84px;
    background: var(--mainBackGround);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    
}

.write_us {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;  
    color: var(--black);
}

.head_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.your_contacts {
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name_block, .email_block {
  width: 360px;
}

.inp {
    width: 360px;
    height: 50px;
    border: 2px solid var(--mBorder);
    box-shadow: none;
    color: var(--m_text);
    opacity: 0.5;
    padding: 16px 14px 16px 16px;
    box-sizing: border-box;
    margin-bottom: 34px;
}

.m_text {
    width: 760px;
    padding-top: 16px;
    padding-bottom: 84px;
    margin-bottom: 47px;
    resize : none;
    overflow: hidden;
}

.inp:hover {
    border-color: var(--mBorderHover);
}

.inp:focus {
    border-color: var(--black);
    opacity: 1;
}

.sbscr {
    width: 300px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
    color: var(--black);
}

.m_subm_button {
    width: 259px;
    min-height: 50px;
    border: none;
    padding: 0px;
    background-color: var(--calmRed);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: var(--mainBackGround);
    padding: 17px 83px 15px;
}

.m_subm_button:hover {background-color: var(--hoverRed);}
.m_subm_button:active {background-color: var(--activeRed);}
.m_subm_button:active .m_subm_button_text {opacity: 0.3;}

.modal_close {
    margin-top: 13px;
    margin-right: -10px;
    width: 21px;
    height: 21px;
    border: none;
    background-color: inherit;
    background-image: url(../img/cross.svg);
}

.modal_close:hover {background-image: url(../img/cross_hover.svg);}
.modal_close:active {background-image: url(../img/cross_active.svg);}